<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rxjava2sample">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.rxbus.RxBusActivity"/>
        <activity android:name=".ui.search.SearchActivity"/>
        <activity android:name=".ui.pagination.PaginationActivity"/>
        <activity android:name=".ui.OperatorsActivity"/>
        <activity android:name=".ui.operators.AsyncSubjectExampleActivity"/>
        <activity android:name=".ui.operators.BehaviorSubjectExampleActivity"/>
        <activity android:name=".ui.operators.BufferExampleActivity"/>
        <activity android:name=".ui.operators.CompletableObserverExampleActivity"/>
        <activity android:name=".ui.operators.ConcatExampleActivity"/>
        <activity android:name=".ui.operators.DebounceExampleActivity"/>
        <activity android:name=".ui.operators.DeferExampleActivity"/>
        <activity android:name=".ui.operators.DelayExampleActivity"/>
        <activity android:name=".ui.operators.DisposableExampleActivity"/>
        <activity android:name=".ui.operators.DistinctExampleActivity"/>
        <activity android:name=".ui.operators.FilterExampleActivity"/>
        <activity android:name=".ui.operators.FlowableExampleActivity"/>
        <activity android:name=".ui.operators.IntervalExampleActivity"/>
        <activity android:name=".ui.operators.LastOperatorExampleActivity"/>
        <activity android:name=".ui.operators.MapExampleActivity"/>
        <activity android:name=".ui.operators.MergeExampleActivity"/>
        <activity android:name=".ui.operators.PublishSubjectExampleActivity"/>
        <activity android:name=".ui.operators.ReduceExampleActivity"/>
        <activity android:name=".ui.operators.ReplayExampleActivity"/>
        <activity android:name=".ui.operators.ReplaySubjectExampleActivity"/>
        <activity android:name=".ui.operators.ScanExampleActivity"/>
    </application>

</manifest>